.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: calc(100vh - 18px);
  margin-left: auto;
  margin-right: auto;

  color: var(--white);
  font-family: 'Fira Code', Menlo, monospace;
  font-weight: 600;
  font-size: 0.9rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
  mix-blend-mode: color-dodge;
}

.picDiv {
  margin-top: auto;
  margin-bottom: auto;
}
.About img {
  width: 10rem;
  border-radius: 3px;
  padding-left: .25rem;
  /*rotate 120 - 240 */
  mix-blend-mode: color-dodge;
  animation: filter-animation 10s linear infinite;

  pointer-events: none;
  user-select: none;
}
@media only screen and (max-width: 750px) {
  .About img {
    display: none;
  }
}
@keyframes filter-animation {
    0% {
    filter: contrast(1.0) 
            sepia(0.13) 
            hue-rotate(185deg) 
            saturate(0.59) 
            brightness(0.925)
            opacity(0.9)
  }
  25% {
    filter: contrast(1.0) 
            sepia(0.13) 
            hue-rotate(210deg) 
            saturate(0.59) 
            brightness(0.925)
            opacity(0.9)
  }
  75% {
    filter: contrast(1.0) 
            sepia(0.13) 
            hue-rotate(160deg) 
            saturate(0.59) 
            brightness(0.925)
            opacity(0.9)
  }
  100% {
    filter: contrast(1.0) 
            sepia(0.13) 
            hue-rotate(185deg) 
            saturate(0.59) 
            brightness(0.925)
            opacity(0.9)
  }
}


.content {
  background-image: var(--dark-grey-gradient);
  /*background-color: var(--dark-grey);*/
  border: 2px solid var(--white);
  height: fit-content;
}
.content, .crt {
  border-radius:50px;
}

.words > span {
  display: block;
  margin-bottom: 1rem;
}

.crt {
  display: flex;
  background: var(--crt-background);
  background-size: var(--crt-size);
  z-index: 2;
  padding: 1.5rem;
}

.highlight {
  background-color: var(--amber);
  color: rgba(0,0,0,0.9);
  mix-blend-mode: color-dodge;
}

a {
  color: var(--white);
}

.contactLink:hover {
  border: 1px solid var(--white);
  border-radius: 3px;
  padding: 0.25rem;
}


.content {
  animation: skewWave 7s linear infinite;
  transform: skew(1deg, 1deg);
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes skewWave{
    0%{
      transform: skew(0deg, 0deg);
    }
    25%{
      transform: skew(0.2deg, 0.2deg);
    }
    50%{
      transform: skew(0deg, 0deg); 
    }
    75%{
      transform: skew(-0.2deg, -0.2deg);
    }
    100%{
      transform: skew(0deg, 0deg); 
    }
  }
}