body { 
  margin: 0; 
  color: rgba(255, 255, 255, 0.66);
}
canvas { 
  display: block; 
  position: absolute; 
  z-index: -1; 
  top: 0;
}
.slidecontainer { 
  margin: 2rem;
  z-index: 200; 
  padding: 2rem;
  background-color: rgba(70, 69, 69, 0.66);
  box-shadow: 0px 0px 15px black;
  width: 13rem;
  height: 21.6rem;
}
input { 
  height: 8px;
  width: 70%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 300; 
}
.linkbox {
  margin-top: 1rem;
  text-align: center;
}
a {
  color: rgba(255, 255, 255, 0.66);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media only screen and (max-width: 450px) {
  .slidecontainer {
    margin: 10vw;
    padding: 0.5vw;
    width: 80vw;
    height: 60vh;     
    background-color: rgba(70, 69, 69, 0.178);   
  }
  input {
    background-color: transparent;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 70%;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /*#############Thumb##############*/

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: #555;
    cursor: pointer;
    margin-top: -6px;
    box-shadow: 0px 0px 2px black;
  }

  input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background: #555;
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
  }

  input[type="range"]::-ms-thumb {
    height: 18px;
    width: 18px;
    background: #555;
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
  }
  /*#############Track##############*/

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.5);   
  }

  input[type="range"]:active::-webkit-slider-runnable-track {
    background-color: rgba(200, 200, 200, 0.5);   
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.5);   
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type="range"]::-ms-fill-lower {
    background-color: rgba(200, 200, 200, 0.5);   
  }

  input[type="range"]:focus::-ms-fill-lower {
    background-color: rgba(200, 200, 200, 0.5);   
  }

  input[type="range"]::-ms-fill-upper {
    background-color: rgba(200, 200, 200, 0.5);   
  }

  input[type="range"]:focus::-ms-fill-upper {
    background-color: rgba(200, 200, 200, 0.5);   
  }
}