.Canvas, .gradient {
  overflow-y:hidden;
  position: fixed; 
  top: 0px; 
  left: 0px;
  width: 100%;
  height: 100vh;
  max-width:100%;
  z-index: -2;
}
.Canvas:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle, transparent 50%, rgb(142, 28, 28) 150%);
  /*mix-blend-mode: difference;*/
  mix-blend-mode: saturation;
}
.gradient {
  background-image: linear-gradient( 
    to bottom, 
    rgba(0, 0, 0, 0.7), 
    rgba(255,255,255,0) 45%, 
    rgba(255,255,255,0) 55%, 
    rgba(0, 0, 0, 0.77) 100%
  );
  z-index: -1;
  mix-blend-mode: hard-light;
}



.controls {
  display:flex;
  position: absolute;
  justify-content: flex-end;
  bottom: 0;
  transition: all 0.5s;
  width: 100%;

  margin-top:1rem;
  overflow: hidden;
  height:2rem;

  color: var(--white);
  font-family: 'Fira Code', Menlo, monospace;
  font-weight:normal;

  opacity: 0.65;

}
.controlWrapWrap {
  justify-content: center;
  display: flex;
  width: 100%;
}
.controlWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /*gap: 1.5rem;*/
  flex-basis: 100%;
  font-size: 0.9rem;
  max-width: 55rem;
}
.labelWrap {
  /*
  position: absolute;
  right: .75rem;
  bottom: 3px;*/
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
  height: 1em;
}
.controlLabel {
  border: 1px solid var(--white);
  border-radius: 3px;
  margin-top: 1px;
}


.slider {
  width: 4rem;
}

@media only screen and (max-width: 630px) {
  .slider {
    display: none;
  }
}


/* https://codepen.io/noahblon/pen/OyajvN */
input[type="range"] { 
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 16px;
  width: 75px;
  cursor: pointer;
  border-radius: 2px; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px; /* 1 */
  height: 40px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  border: 2px solid #999; /* 1 */
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 15px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: dodgerblue;
}

::-ms-thumb { 
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}