.MobileNav {
  margin-left: auto;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  height: fit-content
}
.MobileNavOpen {
  background: var(--crt-background), linear-gradient(to top, hsl(169deg 15% 10%), hsl(280deg 2% 15%));
  background-size: var(--crt-size);
  opacity: 0.98;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
  /* transition: height 5s cubic-bezier(0.4,0,0.2,1), transform 0.4s cubic-bezier(0.4,0,0.2,1); */
}

.mobileToggle{
  fill: var(--white);
  cursor: pointer;
  padding-right: 0.25rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  margin-left: auto;
  position: relative;
  top: 0;
  right: 0
}

.linkItem {
  font-family: 'Days One', sans-serif;  
  font-weight: bold;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.8);
  width: fit-content;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 1.5rem;
}

.panelContent {
  transition: opacity 2s cubic-bezier(0.4,0,0.2,1), transform 0.4s cubic-bezier(0.4,0,0.2,1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
}

.MobileNavOpen .panelContent {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

@media only screen and (min-width: 415px) {
  .MobileNav, .MobileNavOpen {
    display: none;
  }
}