.Nav {
  /*padding-top: 16vh;
  float: left;*/
  /*position: absolute;*/
  /*width: fit-content;*/
  position: fixed;
  top: 16vh;
  left: 0;
  z-index: 1000;
}
@media screen and (max-height: 300px) and (min-width: 500px) {
  .Nav {
    padding-top: 6vh;
  }
}

.container {
  left: 0;
  /*width: 2.9rem;*/
  float:left;
  color: rgba(255, 255, 255, 0.95);
}
.container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /*gap: 1rem;*/
}
.container > div > a {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 414px) {
  .Nav {
    display:none;
  }
  /*
  .Nav {
    bottom: 0;
    top: auto;
  }
  .container {
    width: 100vw;
  }
  .container > div {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    justify-content: space-evenly;
  }*/
}


.navIconSVG {
  fill: rgba(0,255,0,0.9);
  mix-blend-mode: screen;
  position:relative;
  z-index:5;
  backface-visibility: hidden;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5)) 
          drop-shadow(-1px 1px 0px rgba(0, 0, 0, 0.5)) 
          drop-shadow(1px -1px 0px rgba(0, 0, 0, 0.5)) 
          drop-shadow(-1px -1px 0px rgba(0, 0, 0, 0.5));
}

.navIconSVGBefore, .navIconSVGAfter {
  mix-blend-mode: screen;
  position: absolute;
  transition: all 0.25s;
  backface-visibility: hidden
}
.navIconSVGBefore{
  fill: rgba(0,0,255,0.9);
}
.navIconSVGAfter{
  fill: rgba(255,0,0,0.9);
}
.Link:hover .navIconSVGBefore {
  transform: translate(-2px, -1px);
}
.Link:hover .navIconSVGAfter {
  transform: translate(2px, 1px);
} 



.logo, .linkItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Days One', sans-serif;  
  font-weight: bold;
  -webkit-text-stroke: 0.25px rgba(0, 0, 0, 0.8);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1.2;
  border: 2px solid rgb(219, 219, 239);
  border-radius: 5px;
  font-size: 1.8rem;
}

.logo {
  background-image: var(--blue-purple-gradient);
}

.linkItem {
  background-image: var(--green-gradient)
}
.linkItem > div, .logo > div {
  height: 2.5rem;
  width: 2.5rem;
}

/* itemWrap>div includes crt effect*/
.itemWrap > div {
  height: 2.8rem;
  overflow: hidden;
  background: var(--crt-background);
  z-index: 3;
  background-size: var(--crt-size);
  border-radius: 5px;
}

.logo:hover, .linkItem:hover {
  background-size: 150% 150%;
  -webkit-animation: GradientSwirl 1s ease infinite;
  -moz-animation: GradientSwirl 1s ease infinite;
  -o-animation: GradientSwirl 1s ease infinite;
  animation: GradientSwirl 1s ease infinite;
}
.Link:hover .logo{
  background-image: linear-gradient(to right, rgb(228 80 255 / 30%), rgb(44 195 251 / 25%));
}
.Link:hover .linkItem {
  background-image: linear-gradient(to right, rgb(90 90 90 / 40%), rgb(89 219 116 / 40%));
}
@keyframes GradientSwirl {
  0%{background-position:0% 50%}
  50%{background-position:80% 30%}
  100%{background-position:0% 50%}
}